@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 32px;

}


@media (max-width: 767px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        background-image: url("media/bg.png");
        background-size: cover;
      
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main h1{
        text-align: center;
        font-size: 96px;
        color: #151144;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.10), 4px 3px 5px rgba(0, 0, 0, 0.09), 10px 6px 7px rgba(0, 0, 0, 0.05), 18px 10px 8px rgba(0, 0, 0, 0.01), 28px 16px 9px rgba(0, 0, 0, 0.00);
        font-family: Poppins;
        font-weight: 400;
    }

    .group{
        width: 350px;
        height: 55px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.20), 0px 14px 14px 0px rgba(0, 0, 0, 0.17), 0px 31px 19px 0px rgba(0, 0, 0, 0.10), 0px 56px 22px 0px rgba(0, 0, 0, 0.03), 0px 87px 24px 0px rgba(0, 0, 0, 0.00);
    }

    #notas-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .nota{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 150px;
        height: 165px;
        border-radius: 10px;
        background: #67C158;
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.20), 2px 6px 7px 0px rgba(0, 0, 0, 0.17), 6px 14px 9px 0px rgba(0, 0, 0, 0.10), 10px 25px 11px 0px rgba(0, 0, 0, 0.03), 16px 38px 12px 0px rgba(0, 0, 0, 0.00);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nota article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 25px;
        gap: 30px;
        color: #000;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.10), 4px 3px 5px rgba(0, 0, 0, 0.09), 10px 6px 7px rgba(0, 0, 0, 0.05), 18px 10px 8px rgba(0, 0, 0, 0.01), 28px 16px 9px rgba(0, 0, 0, 0.00);
        font-family: Poppins;

    }

    .nota article h2{
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .nota article p{
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        
    }

    #pin{
        width: 27px;
        height: 27px;
        left: 30%;

    }

    #bin{
        right: 30%;
        margin-top: 10px;
        margin-right: 10px;
        width: 27px;
        height: 27px;
        background-image: url("media/bin.png");
        background-repeat: no-repeat;
        background-position: center;
    }    

    #add{
        width: 75px;
        height: 75px;
        background-color: #FFF;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.21)) drop-shadow(0px 15px 9px rgba(0, 0, 0, 0.13)) drop-shadow(0px 26px 10px rgba(0, 0, 0, 0.04)) drop-shadow(0px 41px 11px rgba(0, 0, 0, 0.00));
        border: none;
        border-radius: 50%;
        font-size: 64px;
        position: fixed;
        bottom: 10%;
    }

    #editar{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #voltar{
        width: 50px;
        height: 50px;
        margin-right: 80%;
        margin-top: 5%;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .titulo-container{
        width: 350px;
        height: 75px;
        border-radius: 0px 0px 0px 10px;
        background: #67C158;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15), 7px 7px 10px 0px rgba(0, 0, 0, 0.13), 16px 16px 14px 0px rgba(0, 0, 0, 0.08), 29px 29px 16px 0px rgba(0, 0, 0, 0.02), 45px 45px 18px 0px rgba(0, 0, 0, 0.00);
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
    }

    #in-titulo{
        color: #FFF;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.10), 4px 3px 5px rgba(0, 0, 0, 0.09), 10px 6px 7px rgba(0, 0, 0, 0.05), 18px 10px 8px rgba(0, 0, 0, 0.01), 28px 16px 9px rgba(0, 0, 0, 0.00);
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: none;
        border: none;
        width: 100%;
    }

    .icons-container{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        justify-content: center;
        gap: 20px;
        width: 209px;
        height: 25px;
    }

    .icons-container img{
        width: 30px;
        height: 30px;
    }

    #in-texto{
        margin-top: 10%;
        width: 340px;
        height: 100%;
        background: rgba(255, 255, 255, 0.42);
        backdrop-filter: blur(2px);
        border: none;
        color: #000;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 153.846%; /* 20px */
        letter-spacing: 0.39px;
        text-align: center;
        size: 1;
    }

    #salvar-btn{
        margin-top: 10%;
        border: none;
        width: 174px;
        height: 53px;
        border-radius: 10px;
        background: #67C158;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.15), 7px 7px 10px 0px rgba(0, 0, 0, 0.13), 16px 16px 14px 0px rgba(0, 0, 0, 0.08), 29px 29px 16px 0px rgba(0, 0, 0, 0.02), 45px 45px 18px 0px rgba(0, 0, 0, 0.00);
        text-align: center;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 153.846%; /* 30.769px */
        letter-spacing: 0.6px;
    }
}